@import "../../global/functions";

.hero {
  --header-height: #{toRem(-136)};
  align-content: end;
  margin-top: var(--header-height);
  height: 100dvh;
  background: url("../../images/home/background-home-desktop.jpg")
    no-repeat center / cover;

  @media (max-height: #{toRem(460)}) {
    padding-top: toRem(150);
    height: 100%;
  }

  @media (max-height: #{toRem(600)}) and (max-width: #{toRem(767)}) {
    height: 100%;
    padding-top: toRem(150);
  }

  @include tablet() {
    --header-height: #{toRem(-96)};
  }

  @include mobile() {
    background-image: url("../../images/home/background-home-tablet.jpg");
  }

  @include mobile-m {
    --header-height: #{toRem(-101)};
    background-image: url("../../images/home/background-home-mobile.jpg");
  }
}

.hero__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-block: var(--spacing-1600);

  text-transform: uppercase;

  @include desktop() {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: var(--spacing-600);
    padding-block: var(--spacing-800);
  }

  @media (max-height: #{toRem(750)}) and (min-width: #{toRem(768)}) {
    padding-block: var(--spacing-500);
    flex-direction: row;
    column-gap: var(--spacing-600);
    padding-inline: var(--spacing-500);

    .hero__content-button-text {
      font-size: toRem(18);
    }

    .hero__content-title {
      font-size: toRem(65);
    }
  }

  @include mobile-m() {
    padding-block: var(--spacing-300);
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: var(--spacing-300);
    max-width: toRem(540);

    @include desktop() {
      align-items: center;
    }
  }

  &-header {
    @include textPreset-5();
  }

  &-title {
    @include textPreset-1();

    @include desktop() {
      font-size: toRem(100);
    }
  }

  &-text {
    @include textPreset-9();
    text-transform: none;
  }

  &-button {
    position: relative;

    &-text {
      @include textPreset-4();
      @include abs-center();
      transition: opacity 0.2s;
    }

    @include reset-button();

    width: toRem(272);
    aspect-ratio: 1;
    background-color: var(--color-light);
    border-radius: 50%;

    @include hover() {
      outline: toRem(88) solid rgba(255, 255, 255, 0.15);

      .hero__content-button-text {
        opacity: 0.5;;
      }
    }

    @include desktop() {
      width: toRem(180);
    }
  }
}
