.active-link {
  position: relative;

  &::before {
    background-color: var(--color-light);
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    bottom: 0;
  }

}

@include mobile-m() {
  .header__menu-link.active-link::before {
    right: 0;
    width: 3px;
    height: 100%;
  }
}